

* {
  box-sizing: border-box;
  outline-color: #3f0071;
}

body {
  background-color: #fff;
  color: #8E8CA4;
  display: flex;
  justify-content: center;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  margin: auto;
  
}

a {
  color: #fcfcfc;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

a:focus,
a:hover {
  color: #e3e3e3;
}

button {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
}

h1 {
  color: #fcfcfc;
  font-size: 30px;
  line-height: 1.2;
  margin: auto;
}

input {
  border: 0;
  color: inherit;
  font: inherit;
}

p {
   
}

span {
	color: #610094;
}
.header {
  align-items: center;
  display: flex;
  margin-bottom: 2em;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
  height: 1.5em;
  width: 1.5em;
  font-size: 18px;
  font-weight:  !important;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  margin: 0 0 2em;
  padding: 0;
}

.buttons li {
  width: 30%;
}

.button {
 
  border: 1px solid #3f0071;
  border-radius: 50%;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.button:focus,
.button:hover {
  background-color: #3f0071;
}

.button--full {
  width: 100%;
}

.button--second {
  background-color: #610094;
  border: 1px solid #3f0071;
  border-radius: 10px;
  color: #fcfcfc;
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}

.button--second:focus,
.button--second:hover {
  background-color: #3f0071;
}

.button--small {
  font-size: 0.75rem;
}

.iphones {
  display: flex;
  gap: 3em;
}


.iphone {
 
  background-color: #150050;
  border-radius: 20px;
  box-shadow: 2.8px 2.8px 2.2px rgb(0 0 0 / 2%), 6.7px 6.7px 5.3px rgb(0 0 0 / 2.8%),
    12.5px 12.5px 10px rgb(0 0 0 / 3.5%), 22.3px 22.3px 17.9px rgb(0 0 0 / 4.2%),
    41.8px 41.8px 33.4px rgb(0 0 0 / 5%), 100px 100px 80px rgb(0 0 0 / 7%);
  height: 767px;
  overflow: hidden;
  padding: 3em 1.5em;
  width: 375px;
}

.form {
  display: grid;
  gap: 1em;
}

.form__input {
  background-color: #150050;
  border: 2px solid #3f0071;
  border-radius: 10px;
  padding: 1em 1.25em;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.form__input:focus,
.form__input:hover {
  background-color: #3f0071;
}

.form__label {
  color: #fcfcfc;
  display: inline-block;
  font-size: 0.875rem;
  margin-bottom: 5px;
}

.text--center {
  text-align: center;
}
.description {
	
}
.bottom-text {
	margin-top: 140px;
}
